# Senhas e chaves de API (NUNCA suba para o GitHub)
.env

# Ambiente Virtual do Python
.venv/
venv/
env/
ENV/

# Banco de dados vetorial local (FAISS)
faiss_index/

# Configurações do editor de código
.vscode/

# Arquivos temporários do Python e caches do sistema
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store